<div class="container">
  <header class="columns is-mobile login">
    <div class="column">
      <a href="/" title="Home">
        <div class="logo"><span class="is-sr-only">{{ sharedService.brandTitle }}</span></div>
      </a>
    </div>
  </header>
</div>
<main>
  <div class="column">
    <div class="container" [@secondaryRouterFadeAnimation]="o.isActivated ? o.activatedRoute : ''">
      <router-outlet #o="outlet"></router-outlet>
    </div>
  </div>
</main>
