// FA brand colors

$fa-base: hsl(33, 44%, 95%);

// primary colors
$fa-dark-purple: hsl(306, 68%, 29%);
$fa-grey: hsl(0, 0%, 27%);

// secondary colors
$fa-purple: hsl(300, 20%, 50%);
$fa-light-purple: hsl(298, 51%, 77%);
$fa-orange-light: hsl(41, 100%, 50%);

// Overrides
$base: $fa-base;
$primary: $fa-dark-purple;
$prim-alt: $fa-grey;

$secondary: $fa-purple;
$secondary-alt: $fa-light-purple;
$secondary-alt-light: $fa-orange-light;

// Typography
$family-sans-serif: 'Helvetica', Arial, sans-serif;
$family-monospace: monospace !default
$render-mode: optimizeLegibility !default
$body-family: 'Roboto', Helvetica, Arial, sans-serif;
