<p [ngClass]="{'view-source': showSource}">
  <a *ngIf="!sharedService.hideAllSource || ignoreGlobalShowSource" (click)="showSource = !showSource">
      <span class="icon is-medium">
        <i class="fas fa-code"></i>
      </span>
    <span *ngIf="!showSource">View Source</span>
    <span *ngIf="showSource">Hide Source</span>
  </a>
</p>

<div [hidden]="isHiddenCode()">
  <ng-content></ng-content>
</div>
