<div class="box">
  <h1 class="title is-1">Icons</h1>

  <h2 class="title is-2">Brand Web/Core Icons</h2>

  <article class="message is-primary">
    <div class="message-header">
      <p>Info</p>
    </div>
    <div class="message-body">
      <p>Web/Core brand icons come from a SVG sprite and so are scalable.</p>
      <ul>
        <li>
          Web icons - web specific icons to match tasks that are likely not need in print/email
        </li>
        <li>
          Core icons - shared across brands and include product and add-on icons
        </li>
      </ul>
    </div>
  </article>

  <h3 class="title is-3 is-size-4-mobile">Web Icons</h3>
  <div class="columns is-multiline is-mobile">
    <div *ngFor="let item of webIcons" class="column is-half-mobile is-one-fifth-tablet">
      <figure class="sc-icons">
        <svg class="image is-64x64">
          <use [attr.xlink:href]="'./assets/images/shared/icons/web-icons.svg#icon-' + item.name"></use>
        </svg>
        <p class="has-text-centered">icon-{{ item.name }}</p>
      </figure>
    </div>
  </div>

  <es-view-source>
  <textarea highlight-js lang="html">
  <figure>
    <svg class="image is-64x64">
    <use [attr.xlink:href]="'./assets/images/shared/icons/web-icons.svg#icon-fwd-arrow'">
    </use>
    </svg>
  </figure>
  </textarea>
  </es-view-source>

  <h3 class="title is-3 is-size-4-mobile">Core Icons</h3>
  <div class="columns is-multiline is-mobile">
    <div *ngFor="let item of coreIcons" class="column is-half-mobile is-one-fifth-tablet">
      <figure class="sc-icons  {{ item }}">
        <svg class="image is-64x64">
          <use [attr.xlink:href]="'./assets/images/' + sharedService.theme + '/icons/core-icons.svg#icon-' + item"></use>
        </svg>
        <p class="has-text-centered">icon-{{ item }}</p>
      </figure>
    </div>
  </div>

  <es-view-source>
  <textarea highlight-js lang="html">
  <figure>
    <svg class="image is-64x64">
    <use [attr.xlink:href]="'./assets/images/(brand)/icons/core-icons.svg#icon-multicar'">
    </use>
    </svg>
  </figure>
  </textarea>
  </es-view-source>

  <h3 class="title is-3 is-size-4-mobile">Colors</h3>
  <h6 class="is-7 subtitle">For other color options see the Bulma docs
    <a href="https://bulma.io/documentation/modifiers/typography-helpers/#colors" target="_blank"> typography-helpers</a>
  </h6>
  <div class="columns is-multiline is-mobile">
    <div *ngFor="let color of colorIcons" class="column is-half-mobile is-one-fifth-tablet">
      <figure class="sc-icons  {{ color[1] }}">
        <svg class="image is-64x64">
          <use [attr.xlink:href]="'./assets/images/' + sharedService.theme + '/icons/core-icons.svg#icon-' + color[0]"></use>
        </svg>
        <p class="has-text-centered {{ color[1] }}">{{ color[1] }}</p>
      </figure>
    </div>
  </div>

  <es-view-source>
  <textarea highlight-js lang="html">
  <figure class="has-text-primary">
    <svg class="image is-64x64">
    <use [attr.xlink:href]="'./assets/images/(brand)/icons/core-icons.svg#icon-multicar'"></use>
    </svg>
  </figure>
  </textarea>
  </es-view-source>

  <h3 class="title is-3 is-size-4-mobile">Sizes</h3>
  <div class="columns is-multiline is-mobile">
    <div *ngFor="let size of sizeIcons" class="column is-half-mobile is-one-quarter-tablet">
      <figure class="sc-icons">
        <svg class="image"
            [ngClass]="{
        'is-16x16':size[1] === '16x16',
        'is-24x24':size[1] === '24x24',
        'is-32x32':size[1] === '32x32',
        'is-48x48':size[1] === '48x48',
        'is-64x64':size[1] === '64x64',
        'is-96x96':size[1] === '96x96',
        'is-128x128':size[1] === '128x128'}">
          <use [attr.xlink:href]="'./assets/images/shared/icons/web-icons.svg#icon-' + size[0]"></use>
        </svg>
        <p class="has-text-centered">{{ size[1] }}</p>
      </figure>
    </div>
  </div>
  <es-view-source>
  <textarea highlight-js lang="html">
  <figure>
    <svg class="image is-48x48">
    <use [attr.xlink:href]="'./assets/images/shared/icons/web-icons.svg#icon-fwd-arrow'"></use>
    </svg>
  </figure>
  </textarea>
  </es-view-source>


  <!-- FONT AWESOME -->
  <h2 class="title is-2">Font Awesome Icons</h2>

  <article class="message is-primary">
    <div class="message-header">
      <p>Info</p>
    </div>
    <div class="message-body">
      <p><a href="https://bulma.io/documentation/elements/icon/" target="_blank">Icon usage (Bulma Documentation) <span
        class="icon is-small"><i class="fas fa-external-link-alt fa-xs"></i></span></a></p>
      <p><a href="https://fontawesome.com/icons?d=gallery" target="_blank">Font Awesome 5 icons <span
        class="icon is-small"><i
        class="fas fa-external-link-alt fa-xs"></i></span></a></p>
    </div>
  </article>


  <div class="sc-icon">
    <h4 class="title is-4">Standard container/standard icon (fa-edit)</h4>
    <p><span class="icon has-text-primary"><i class="fas fa-edit fa-fw"></i></span></p>
    <es-view-source>
    <textarea highlight-js lang="html">
    <p><span class="icon has-text-primary">
    <i class="fas fa-edit fa-fw"></i></span>
    Standard container/standard icon</p>
    </textarea>
    </es-view-source>

    <h4 class="title is-4">Medium container/x2 icon (fa-spinner)</h4>
    <p><span class="icon is-medium has-text-success"><i class="fas fa-spinner fa-spin fa-2x fa-fw"></i></span></p>
    <es-view-source>
    <textarea highlight-js lang="html">
    <p><span class="icon is-medium has-text-success">
    <i class="fas fa-spinner fa-spin fa-2x fa-fw"></i></span>
    Medium container/x2 icon</p>
    </textarea>
    </es-view-source>

    <h4 class="title is-4">Large container/x3 icon (fa-bath)</h4>
    <p><span class="icon is-large has-text-warning"><i class="fas fa-bath fa-3x fa-fw"></i></span></p>
    <es-view-source>
    <textarea highlight-js lang="html">
    <p><span class="icon is-large has-text-warning">
    <i class="fas fa-bath fa-3x fa-fw"></i></span>
    Large container/x3 icon</p>
    </textarea>
    </es-view-source>

    <h4 class="title is-4">Stacked icon example (fa-camera/fa-ban)</h4>
    <p><span class="icon is-large">
          <span class="fa-stack fa-lg">
            <i class="fas fa-camera fa-stack-1x"></i>
            <i class="fas fa-ban fa-stack-2x has-text-danger"></i>
          </span>
        </span>
    </p>
    <es-view-source>
    <textarea highlight-js lang="html">
    <p><span class="icon is-large">
    <span class="fa-stack fa-lg">
    <i class="fas fa-camera fa-stack-1x"></i>
    <i class="fas fa-ban fa-stack-2x has-text-danger"></i>
    </span>
    </span>
    Stacked icons
  </p>
    </textarea>
    </es-view-source>
  </div>
</div>
