<div class="box">
  <h1 class="title is-1">Messages</h1>
  <h6 class="subtitle is-7">
    <a href="https://s3-eu-west-1.amazonaws.com/s3-ec-ext-dev-all-digital-app-docs/digital-app-components/compodoc/styles-lib/modules/GlobalMessagesModule.html" target="_blank">
      Compodoc Source <span class="icon is-small"><i class="fas fa-external-link-alt fa-xs"></i></span></a>
  </h6>

  <article class="message is-primary">
    <div class="message-header">
      <p>Info</p>
    </div>
    <div class="message-body">
      <p>The <span class="has-text-weight-bold">&lt;es-global-messages&gt;</span> component is usually defined at the top of your page, and will output any messages.
      It takes in array of messages, which are added in the component.</p>
    </div>
  </article>

  <es-global-messages [messages]="messages"></es-global-messages>

  <es-view-source>
  <textarea highlight-js lang="html">
  <es-global-messages [messages]="messages"></es-global-messages>
  </textarea>
  </es-view-source>

  <p>Messages are configurable for severity (this changes the background colour), closeable, heading text and summary text.</p>
  <p>Heading text is optional. Summary text is expected to always be set, unless you need to use Angular code within your text.
    In that case, set the summary to empty, and then pass in the summary you want as <span class="has-text-weight-bold">&lt;ng-content&gt;</span>
    to the <span class="has-text-weight-bold">&lt;es-global-messages component&gt;</span>. This way only works for displaying a single message.</p>

  <es-view-source>
  <textarea highlight-js lang="javascript">
  public addMessage(): void {
  this.messages.push({
  severity: 'danger',
  closable: true,
  heading: 'Message Heading',
  summary: 'Message summary text',
  });
  </textarea>
  </es-view-source>

  <div class="buttons">
    <button esButton="danger" type="button" (click)="addMessage('danger')">Danger Message</button>
    <button esButton="info" type="button" (click)="addMessage('info')">Info Message</button>
    <button esButton="warning" type="button" (click)="addMessage('warning')">Warning Message</button>
    <button esButton="action" type="button" (click)="addMessage('success')">Success Message</button>
    <button *ngIf="messages.length > 0" esButton="inverted" type="button" (click)="clearMessages()">Clear All Messages
    </button>
  </div>
</div>
