<div class="box">
  <h1 class="title is-1">Colors</h1>

  <article class="message is-primary">
    <div class="message-header">
      <p>Info</p>
    </div>
    <div class="message-body">
      <p>Use the color variables e.g <strong>$primary</strong> in scss files to achieve brand colors</p>
    </div>
  </article>

  <div id="swatch">

    <h3 class="title is-3">Primary swatch</h3>
    <h6 class="is-7 subtitle">The primary colours are bold, simple, and clear to reflect the
      brand’s personality.</h6>


    <div class="columns">
      <div class="column is-half-tablet">
        <div class="box has-background-primary">
          <p class="is-size-7">$primary</p>
        </div>
      </div>
      <div class="column is-half-tablet">
        <div class="box sc-prim-alt">
          <p class="is-size-7">$prim-alt</p>
        </div>
      </div>
      <!--<div class="column is-one-quarter">-->
      <!--<div class="box"></div>-->
      <!--</div>-->
      <!--<div class="column is-one-quarter">-->
      <!--<div class="box"></div>-->
      <!--</div>-->
    </div>

    <es-view-source>
    <textarea highlight-js lang="sass">
    someClassOrId {
    background-color: $primary;
    color: $prim-alt;
  }
    </textarea>
    </es-view-source>

    <hr />

    <h3 class="title is-3">Secondary swatch</h3>
    <h6 class="is-7 subtitle">The secondary palette complements the primary colours, adding extra depth, while
      giving freedom for more colour combinations.</h6>
    <div class="columns">
      <div class="column is-one-third-desktop">
        <div class="box sc-secondary">
          <p class="is-size-7">$secondary</p>
        </div>
      </div>
      <div class="column is-one-third-desktop">
        <div class="box sc-secondary-alt">
          <p class="is-size-7">$secondary-alt</p>
        </div>
      </div>
      <div class="column is-one-third-desktop">
        <div class="box sc-secondary-alt-light">
          <p class="is-size-7">$secondary-alt-light</p>
        </div>
      </div>
      <!--<div class="column is-one-quarter">-->
      <!--<div class="box"></div>-->
      <!--</div>-->
    </div>

    <hr />

    <h3 class="title is-3">Action swatch</h3>
    <h6 class="is-7 subtitle">For additional web use.</h6>
    <div class="columns">
      <div class="column is-one-quarter-desktop">
        <div class="box has-background-danger">
          <p class="is-size-7">$danger</p>
        </div>
      </div>
      <div class="column is-one-quarter-desktop">
        <div class="box has-background-info">
          <p class="is-size-7">$info</p>
        </div>
      </div>
      <div class="column is-one-quarter-desktop">
        <div class="box has-background-warning">
          <p class="is-size-7">$warning</p>
        </div>
      </div>
      <div class="column is-one-quarter-desktop">
        <div class="box has-background-success">
          <p class="is-size-7">$success</p>
        </div>
      </div>
    </div>

    <h5>Grayscale</h5>
    <div class="columns">
      <div class="column is-one-quarter-desktop">
        <div class="box has-background-grey-darker">
          <p class="is-size-7">$grey-darker</p>
        </div>
      </div>
      <div class="column is-one-quarter-desktop">
        <div class="box has-background-grey">
          <p class="is-size-7">$grey-dark</p>
        </div>
      </div>
      <div class="column is-one-quarter-desktop">
        <div class="box has-background-grey-light">
          <p class="is-size-7">$grey-light</p>
        </div>
      </div>
      <div class="column is-one-quarter-desktop">
        <div class="box has-background-grey-lighter">
          <p class="is-size-7">$grey-lighter</p>
        </div>
      </div>
    </div>

  </div>
</div>
