<div class="box">
  <h1 class="title is-1">Buttons</h1>
  <h6 class="subtitle is-7">
    <a href="https://s3-eu-west-1.amazonaws.com/s3-ec-ext-dev-all-digital-app-docs/digital-app-components/compodoc/styles-lib/modules/ButtonModule.html" target="_blank">
      Compodoc Source <span class="icon is-small"><i class="fas fa-external-link-alt fa-xs"></i></span></a>
  </h6>

  <article class="message is-primary">
    <div class="message-header">
      <p>Info</p>
    </div>
    <div class="message-body">
      <p>The <span class="has-text-weight-bold">esButton</span> directive is designed to be applied to the following HTML
        elements</p>
      <ul>
        <li><a routerLink='./' fragment="but">button</a></li>
        <li><a routerLink='./' fragment="butInput">input (type submit or button)</a></li>
        <li><a routerLink='./' fragment="butA">a</a></li>
      </ul>
      <p>It is possible to add tooltips too, by passing tooltip information in via the esTooltip property. <a routerLink="../tooltips">see tooltips</a></p>

    </div>
  </article>

  <hr/>

  <h2 id="but" class="title is-2">Button</h2>

  <h4 class="title is-4">Sizing</h4>

  <div class="buttons">
    <button esButton="primary" esSmall="true" type="button">small</button>
    <button esButton="primary" type="button">standard</button>
    <button esButton="primary" esLarge="true" type="button">large</button>
  </div>

  <es-view-source>
  <textarea highlight-js lang="html">
  <button esButton="primary" esSmall="true" type="button">small</button>
  <button esButton="primary" type="button">standard</button>
  <button esButton="primary" esLarge="true" type="button">large</button>
  </textarea>
  </es-view-source>

  <h4 class="title is-4">Standard</h4>

  <div class="buttons">
    <button esButton="primary" esSmall="true" type="button">primary</button>
    <button esButton="inverted" type="button">inverted</button>
    <button esButton="action" type="button">action</button>
    <button esButton="text" type="button">text</button>
    <button esButton="primary" esDisabled="true" type="button">disabled primary</button>
    <button esButton="inverted" esDisabled="true" type="button">disabled inverted</button>
    <button esButton="action" esDisabled="true" type="button">disabled action</button>
    <button esButton="text" esDisabled="true" type="button">disabled text</button>
  </div>

  <es-view-source>
  <textarea highlight-js lang="html">
  <button esButton="primary" esSmall="true" type="button">primary</button>
  <button esButton="inverted" type="button">inverted</button>
  <button esButton="action" type="button">action</button>
  <button esButton="text" type="button">text</button>
  <button esButton="primary" esDisabled="true" type="button">disabled primary</button>
  <button esButton="inverted" esDisabled="true" type="button">disabled inverted</button>
  <button esButton="action" esDisabled="true" type="button">disabled action</button>
  <button esButton="text" esDisabled="true" type="button">disabled text</button>
  </textarea>
  </es-view-source>

  <h4 class="title is-4">Additional types</h4>

  <div class="buttons">
    <button esButton="danger" type="button">danger</button>
    <button esButton="warning" type="button">warning</button>
    <button esButton="info" type="button">info</button>
    <button esButton="outlined" type="button">outlined</button>
  </div>

  <es-view-source>
  <textarea highlight-js lang="html">
  <button esButton="danger" type="button">danger</button>
  <button esButton="warning" type="button">warning</button>
  <button esButton="info" type="button">info</button>
  <button esButton="outlined" type="button">outlined</button>
  </textarea>
  </es-view-source>

  <h4 class="title is-4">Full width</h4>

  <div class="field">
    <div class="control">
      <button esButton="primary" esFullwidth="true" type="button">primary</button>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <button esButton="inverted" esFullwidth="true" type="button">inverted</button>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <button esButton="action" esFullwidth="true" type="button">action</button>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <button esButton="text" esFullwidth="true" type="button">text</button>
    </div>
  </div>

  <es-view-source>
  <textarea highlight-js lang="html">
  <button esButton="primary" esFullwidth="true" type="button">primary</button>
  <button esButton="inverted" esFullwidth="true" type="button">inverted</button>
  <button esButton="action" esFullwidth="true" type="button">action</button>
  <button esButton="text" esFullwidth="true" type="button">text</button>
  </textarea>
  </es-view-source>

  <hr />

  <h2 id="butInput" class="title is-2">Input</h2>

  <h4 class="title is-4">Standard</h4>

  <div class="buttons">
    <input esButton="primary" type="button" value="primary"/>
    <input esButton="inverted" type="button" value="inverted"/>
    <input esButton="action" type="button" value="action"/>
    <input esButton="text" type="button" value="text"/>
    <input esButton="primary" esDisabled="true" type="button" value="disabled primary"/>
    <input esButton="inverted" esDisabled="true" type="button" value="disabled inverted"/>
    <input esButton="action" esDisabled="true" type="button" value="disabled action"/>
    <input esButton="text" esDisabled="true" type="button" value="disabled text"/>
  </div>

  <h4 class="title is-4">Full width</h4>

  <div class="field">
    <div class="control">
      <input esButton="primary" esFullwidth="true" type="button" value="primary"/>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input esButton="inverted" esFullwidth="true" type="button" value="inverted"/>
    </div>
  </div>

  <hr />

  <h2 id="butA" class="title is-2">a (Link tags)</h2>

  <h4 class="title is-4">Standard</h4>

  <div class="buttons">
    <a esButton="primary" href="javascript:;">primary</a>
    <a esButton="inverted" href="javascript:;">inverted</a>
    <a esButton="action" href="javascript:;">action</a>
    <a esButton="text" href="javascript:;">text</a>
    <a esButton="primary" esDisabled="true" href="javascript:;">disabled primary</a>
    <a esButton="inverted" esDisabled="true" href="javascript:;">disabled inverted</a>
    <a esButton="action" esDisabled="true" href="javascript:;">disabled action</a>
    <a esButton="text" esDisabled="true" href="javascript:;">disabled text</a>
  </div>

  <h4 class="title is-4">Full width</h4>

  <div class="field">
    <div class="control">
      <a esButton="primary" esFullwidth="true" href="javascript:;">primary</a>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <a esButton="inverted" esFullwidth="true" href="javascript:;">inverted</a>
    </div>
  </div>
</div>
