<div class="box">
  <h1 class="title is-1">Loading Box</h1>
  <h6 class="subtitle is-7">
    <a href="https://s3-eu-west-1.amazonaws.com/s3-ec-ext-dev-all-digital-app-docs/digital-app-components/compodoc/styles-lib/modules/LoadingBoxModule.html" target="_blank">
      Compodoc Source <span class="icon is-small"><i class="fas fa-external-link-alt fa-xs"></i></span></a>
  </h6>

  <article class="message is-primary">
    <div class="message-header">
      <p>Info</p>
    </div>
    <div class="message-body">
      <p>The loading box can we wired up to show on router navigation start and to hide on navigation end.</p>
      <p>It is already integrated into this showcase app, although is unlikely to show up on router navigation changes due
        to the navigation events taking less than 250 milliseconds. The loader will only show after this amount of time.
      </p>
      <p>It can also be manually triggered to show or hide using the <span class="has-text-weight-bold">LoadingBoxService.</span>
         Typically this will get added to submit buttons
        where it could take a couple of seconds to make an HTTP request for example.
      </p>
    </div>
  </article>

  <p>Typically this will be needed on all pages, so can be added into the applications main app component.</p>

  <es-view-source>
    <textarea highlight-js lang="html">
    <es-loading-box></es-loading-box>
    </textarea>
  </es-view-source>

  <p>Click the button below to see the loader come up after a 250 milliseconds delay. It should disappear a second later.</p>

  <div class="field control">
    <button esButton="action" type="button" (click)="showLoader()">Show loader</button>
  </div>

</div>
