<div class="box">
  <h1 class="title is-1">Utilities</h1>
  <h6 class="subtitle is-7">
    <a href="https://s3-eu-west-1.amazonaws.com/s3-ec-ext-dev-all-digital-app-docs/digital-app-components/compodoc/utils-lib/index.html" target="_blank">
      Compodoc Source <span class="icon is-small"><i class="fas fa-external-link-alt fa-xs"></i></span></a>
  </h6>

  <article class="message is-primary">
    <div class="message-header">
      <p>Info</p>
    </div>
    <div class="message-body">
      <p>There are various utility modules, services and functions that can be used, listed below.</p>
      <ul>
        <li><a routerLink='./' fragment="errorHandler">Error Handler</a></li>
        <li><a routerLink='./' fragment="routesPreloader">Routes Preloader</a></li>
        <li><a routerLink='./' fragment="httpModule">Http Module</a></li>
        <li><a routerLink='./' fragment="loggerModule">Logger Module</a></li>
        <li><a routerLink='./' fragment="windowModule">Window Module</a></li>
        <li><a routerLink='./' fragment="dataLayerModule">DataLayer Module</a></li>
        <li><a routerLink='./' fragment="scriptLoader">Script Loader Service</a></li>
        <li><a routerLink='./' fragment="pipes">Pipes</a></li>
        <li><a routerLink='./' fragment="directives">Directives</a></li>
        <li><a routerLink='./' fragment="utilFunctions">Utility Functions</a></li>
      </ul>
    </div>
  </article>

  <hr/>

  <article id="errorHandler" class="message is-primary">
    <div class="message-header">
      <p>Error Handler</p>
    </div>
    <div class="message-body">
      <p>This app uses a custom error handler, this is done by just importing in the ErrorHandlerModule from our utils library.</p>
      <p>You can trigger an error manually by clicking the button below. This should log the error to the console and redirect the app to
      the technical fault page (/error/500).
      </p>
    </div>
  </article>

  <div class="field control">
    <button esButton="action" type="button" (click)="triggerErrorHandler()">Trigger error handler</button>
  </div>

  <h6 class="subtitle is-7">
    <a href="https://s3-eu-west-1.amazonaws.com/s3-ec-ext-dev-all-digital-app-docs/digital-app-components/compodoc/utils-lib/modules/ErrorHandlerModule.html" target="_blank">
      Compodoc Source <span class="icon is-small"><i class="fas fa-external-link-alt fa-xs"></i></span></a>
  </h6>

  <hr/>

  <article id="routesPreloader" class="message is-primary">
    <div class="message-header">
      <p>Routes Preloader</p>
    </div>
    <div class="message-body">
      <p>The utils library provides a custom routing strategy. This can be used by setting it as the preloadingStrategy to Angular's RouterModule.
      </p>
    </div>
  </article>

  <es-view-source>
  <textarea highlight-js lang="typescript">
  RouterModule.forRoot(APP_ROUTES, { preloadingStrategy: AppPreloader })
  </textarea>
  </es-view-source>

  <p>You can then set lazy loaded routes to be preloaded or loaded on first access, by setting the preLoad property on the route data.</p>

  <es-view-source>
  <textarea highlight-js lang="typescript">
  {
    path: 'error',
    loadChildren: './pathtomodule/filenameofmodule#ClassNameOfModule',
    data: { preload: false }
  }
  </textarea>
  </es-view-source>

  <h6 class="subtitle is-7">
    <a href="https://s3-eu-west-1.amazonaws.com/s3-ec-ext-dev-all-digital-app-docs/digital-app-components/compodoc/utils-lib/classes/AppPreloader.html" target="_blank">
      Compodoc Source <span class="icon is-small"><i class="fas fa-external-link-alt fa-xs"></i></span></a>
  </h6>

  <hr/>

  <article id="httpModule" class="message is-primary">
    <div class="message-header">
      <p>Http Module</p>
    </div>
    <div class="message-body">
      <p>The utils library provides a HttpModule. Import this into the app to get the HttpService.</p>
    </div>
  </article>

  <div class="notification is-success" *ngIf="mockGetData">
    <p>HTTP Request Response</p>
    <pre>{{ mockGetData | json }}</pre>
  </div>

  <es-global-messages [messages]="messages"></es-global-messages>

  <div class="field control">
    <button esButton="action" type="button" (click)="makeHttpRequest()">Make HTTP Request</button>
  </div>

  <h6 class="subtitle is-7">
    <a href="https://s3-eu-west-1.amazonaws.com/s3-ec-ext-dev-all-digital-app-docs/digital-app-components/compodoc/utils-lib/modules/HttpModule.html" target="_blank">
      Compodoc Source <span class="icon is-small"><i class="fas fa-external-link-alt fa-xs"></i></span></a>
  </h6>

  <hr/>

  <article id="loggerModule" class="message is-primary">
    <div class="message-header">
      <p>Logger Module</p>
    </div>
    <div class="message-body">
      <p>The utils library provides a LoggerModule. Import this into the app to get the LoggerService.</p>
    </div>
  </article>

  <es-view-source>
<textarea highlight-js lang="typescript">
constructor(private logger: LoggerService) {
  this.logger.debug('Some logging!'');
}
</textarea>
  </es-view-source>

  <h6 class="subtitle is-7">
    <a href="https://s3-eu-west-1.amazonaws.com/s3-ec-ext-dev-all-digital-app-docs/digital-app-components/compodoc/utils-lib/modules/LoggerModule.html" target="_blank">
      Compodoc Source <span class="icon is-small"><i class="fas fa-external-link-alt fa-xs"></i></span></a>
  </h6>

  <hr />

  <article id="windowModule" class="message is-primary">
    <div class="message-header">
      <p>Window Module</p>
    </div>
    <div class="message-body">
      <p>The utils library provides a WindowModule. Import this into the app to be able to inject WINDOW.</p>
    </div>
  </article>

  <es-view-source>
    <textarea highlight-js lang="typescript">
    constructor(@Inject(WINDOW) private win: Window) {}
    </textarea>
  </es-view-source>


  <h6 class="subtitle is-7">
    <a href="https://s3-eu-west-1.amazonaws.com/s3-ec-ext-dev-all-digital-app-docs/digital-app-components/compodoc/utils-lib/modules/WindowModule.html" target="_blank">
      Compodoc Source <span class="icon is-small"><i class="fas fa-external-link-alt fa-xs"></i></span></a>
  </h6>

  <hr />

  <article id="dataLayerModule" class="message is-primary">
    <div class="message-header">
      <p>DataLayer Module</p>
    </div>
    <div class="message-body">
      <p>The utils library provides a DataLayerModule. Import this into the app to be able to use the component and service it provides.</p>
    </div>
  </article>

  <es-view-source>
<textarea highlight-js lang="typescript">
// Service use
constructor(private dataLayerService: DataLayerService) {
  this.dataLayerService.add({ cheeseProp: 'Cheese!' });
}
// Component use
<es-data-layer [vars]="{ 'propName': 'propValue', 'prop2Name': 'prop2Value' }"></es-data-layer>
</textarea>
  </es-view-source>


  <h6 class="subtitle is-7">
    <a href="https://s3-eu-west-1.amazonaws.com/s3-ec-ext-dev-all-digital-app-docs/digital-app-components/compodoc/utils-lib/modules/DataLayerModule.html" target="_blank">
      Compodoc Source <span class="icon is-small"><i class="fas fa-external-link-alt fa-xs"></i></span></a>
  </h6>

  <hr />

  <article id="scriptLoader" class="message is-primary">
    <div class="message-header">
      <p>ScriptLoaderService</p>
    </div>
    <div class="message-body">
      <p>The utils library provides a ScriptLoaderService. Add it into the constructor of any components that need it. It does not
        need to be added into the providers of any module.
      </p>
    </div>
  </article>

  <div class="notification is-success" *ngIf="scriptLoadSuccess">
    Script loaded successfully, inspect the head section of the source code to see the added script with src
    /assets/mockdata/mock-js-file.js
  </div>

  <div class="field control">
    <button esButton="action" type="button" (click)="addScript()">Load Script</button>
  </div>

  <h6 class="subtitle is-7">
    <a href="https://s3-eu-west-1.amazonaws.com/s3-ec-ext-dev-all-digital-app-docs/digital-app-components/compodoc/utils-lib/injectables/ScriptLoaderService.html" target="_blank">
      Compodoc Source <span class="icon is-small"><i class="fas fa-external-link-alt fa-xs"></i></span></a>
  </h6>

  <hr/>

  <article id="pipes" class="message is-primary">
    <div class="message-header">
      <p>Pipes</p>
    </div>
    <div class="message-body">
      <p>The utils library provides various pipe modules.</p>
    </div>
  </article>

  <h4 class="title is-4">Capitalise Pipe</h4>

  <p>{{ 'here is a string' | esCapitalize }}</p>

  <es-view-source>
  <textarea highlight-js lang="html" ngNonBindable>
    <p>{{ 'here is a string' | esCapitalize }}</p>
  </textarea>
  </es-view-source>

  <h6 class="subtitle is-7">
    <a href="https://s3-eu-west-1.amazonaws.com/s3-ec-ext-dev-all-digital-app-docs/digital-app-components/compodoc/utils-lib/modules/CapitalizePipeModule.html" target="_blank">
      Compodoc Source <span class="icon is-small"><i class="fas fa-external-link-alt fa-xs"></i></span></a>
  </h6>

  <hr />

  <h4 class="title is-4">'fullDateTime' format Date String Pipe (with suffix)</h4>

  <p>{{ '2018-10-21T01:02:03Z' | esDateString:{ordinal: true} }}</p>

  <es-view-source>
  <textarea highlight-js lang="html" ngNonBindable>
    <p>{{ '2018-10-21T01:02:03Z' | esDateString:{ordinal: true} }}</p>
  </textarea>
  </es-view-source><br />

  <h4 class="title is-4">'fullDateTime' format Date String Pipe (without suffix)</h4>

  <p>{{ '2018-10-21T01:02:03Z' | esDateString }}</p>

  <es-view-source>
  <textarea highlight-js lang="html" ngNonBindable>
    <p>{{ '2018-10-21T01:02:03Z' | esDateString }}</p>
  </textarea>
  </es-view-source><br />

  <h4 class="title is-4">'fullDate' format Date String Pipe (without suffix)</h4>

  <p>{{ '2018-10-21T01:02:03Z' | esDateString:{format:'fullDate'} }}</p>

  <es-view-source>
  <textarea highlight-js lang="html" ngNonBindable>
    <p>{{ '2018-10-21T01:02:03Z' | esDateString:{format:'fullDate'} }}</p>
  </textarea>
  </es-view-source>

  <h6 class="subtitle is-7">
    <a href="https://s3-eu-west-1.amazonaws.com/s3-ec-ext-dev-all-digital-app-docs/digital-app-components/compodoc/utils-lib/modules/DateStringPipeModule.html" target="_blank">
      Compodoc Source <span class="icon is-small"><i class="fas fa-external-link-alt fa-xs"></i></span></a>
  </h6>

  <hr />

  <h4 class="title is-4">Plural Pipe</h4>
  <ul>
  <li>{{ 1 | esPlural:'goat' }}</li>
  <li>{{ 3 | esPlural:'goat' }}</li>
  <li>{{ 0 | esPlural:'goat':'s':'No' }}</li>
  <li>{{ 1 | esPlural:'knife':'--ves' }}</li>
  <li>{{ 99 | esPlural:'knife':'--ves' }}</li>
  </ul>

  <es-view-source>
  <textarea highlight-js lang="html" ngNonBindable>
<ul>
  <li>{{ 1 | esPlural:'goat' }}</li>
  <li>{{ 3 | esPlural:'goat' }}</li>
  <li>{{ 0 | esPlural:'goat':'s':'No' }}</li>
  <li>{{ 1 | esPlural:'knife':'--ves' }}</li>
  <li>{{ 99 | esPlural:'knife':'--ves' }}</li>
</ul>
  </textarea>
  </es-view-source>

  <h6 class="subtitle is-7">
    <a href="https://s3-eu-west-1.amazonaws.com/s3-ec-ext-dev-all-digital-app-docs/digital-app-components/compodoc/utils-lib/modules/PluralPipeModule.html" target="_blank">
      Compodoc Source <span class="icon is-small"><i class="fas fa-external-link-alt fa-xs"></i></span></a>
  </h6>

  <hr />

  <h4 class="title is-4">Safe URL Pipe</h4>

  <p>If you have a URL coming from a variable, for example for an iframe src, then you need to use this pipe to
    <a href="https://angular.io/guide/security#bypass-security-apis" target="_blank">bypass Angular security <span class="icon is-small"><i class="fas fa-external-link-alt fa-xs"></i></span></a>.</p>

  <es-view-source>
  <textarea highlight-js lang="html">
    <iframe [src]="component.iframeURL | esSafeUrl"></iframe>
  </textarea>
  </es-view-source>

  <h6 class="subtitle is-7">
    <a href="https://s3-eu-west-1.amazonaws.com/s3-ec-ext-dev-all-digital-app-docs/digital-app-components/compodoc/utils-lib/modules/SafeUrlPipeModule.html" target="_blank">
      Compodoc Source <span class="icon is-small"><i class="fas fa-external-link-alt fa-xs"></i></span></a>
  </h6>

  <hr/>

  <article id="directives" class="message is-primary">
    <div class="message-header">
      <p>Directives</p>
    </div>
    <div class="message-body">
      <p>The utils library provides various directives.</p>
    </div>
  </article>

  <h4 class="title is-4">IFrame Resizer</h4>

  <p>This directive is used for auto resizing the iframe height, corresponding Javascript must also be loaded inside the
    actual iframe src page for it to work</p>

  <es-view-source>
  <textarea highlight-js lang="html">
    <iframe esIframeResizer [src]="component.iframeURL | esSafeUrl"
    scrolling="no"></iframe>
  </textarea>
  </es-view-source>

  <h6 class="subtitle is-7">
    <a href="https://s3-eu-west-1.amazonaws.com/s3-ec-ext-dev-all-digital-app-docs/digital-app-components/compodoc/utils-lib/modules/IFrameResizerDirectiveModule.html" target="_blank">
      Compodoc Source <span class="icon is-small"><i class="fas fa-external-link-alt fa-xs"></i></span></a>
  </h6>

  <hr />

  <article id="utilFunctions" class="message is-primary">
    <div class="message-header">
      <p>Utility Functions</p>
    </div>
    <div class="message-body">
      <p>The utils library provides various utility functions.</p>
    </div>
  </article>

  <h4 class="title is-4">Strings</h4>

  <p>Helper functions for working with strings from <span class="has-text-weight-bold">string-utils.ts</span> file. All functions are exported. Example usage of removeWhitespaceAndMakeUppercase below.</p>

  <es-view-source ignoreGlobalShowSource="true">
  <textarea highlight-js lang="typescript">
  const str = removeWhitespaceAndMakeUppercase('a b');
  // result = AB
  </textarea>
  </es-view-source>

  <h6 class="subtitle is-7">
    <a href="https://s3-eu-west-1.amazonaws.com/s3-ec-ext-dev-all-digital-app-docs/digital-app-components/compodoc/utils-lib/miscellaneous/functions.html" target="_blank">
      Compodoc Source <span class="icon is-small"><i class="fas fa-external-link-alt fa-xs"></i></span></a>
  </h6>

  <hr />

  <h4 class="title is-4">Numbers</h4>

  <p>Helper functions for working with numbers from <span class="has-text-weight-bold">number-utils.ts</span> file. All functions are exported. Example usage of pad below.</p>

  <es-view-source ignoreGlobalShowSource="true">
  <textarea highlight-js lang="typescript">
  const paddedNum = pad(1, 2);
  // result = 01
  </textarea>
  </es-view-source>

  <h6 class="subtitle is-7">
    <a href="https://s3-eu-west-1.amazonaws.com/s3-ec-ext-dev-all-digital-app-docs/digital-app-components/compodoc/utils-lib/miscellaneous/functions.html" target="_blank">
      Compodoc Source <span class="icon is-small"><i class="fas fa-external-link-alt fa-xs"></i></span></a>
  </h6>

  <hr />

  <h4 class="title is-4">Validation</h4>

  <p>Angular validators from <span class="has-text-weight-bold">validator-utils.ts</span> file. All functions are exported. Example usage of validateDay below.</p>

  <es-view-source ignoreGlobalShowSource="true">
  <textarea highlight-js lang="typescript">
  const dateDayField = new FormControl('', [
    Validators.required,
    validateDay,
  ]);
  </textarea>
  </es-view-source>

  <h6 class="subtitle is-7">
    <a href="https://s3-eu-west-1.amazonaws.com/s3-ec-ext-dev-all-digital-app-docs/digital-app-components/compodoc/utils-lib/miscellaneous/functions.html" target="_blank">
      Compodoc Source <span class="icon is-small"><i class="fas fa-external-link-alt fa-xs"></i></span></a>
  </h6>

  <hr />

  <article class="message is-primary">
    <div class="message-header">
      <p>Error Pages</p>
    </div>
    <div class="message-body">
      <p>Here are some links that just navigate to the error pages in this app!</p>
    </div>
  </article>

  <ul>
    <li><a routerLink="/error/404">404</a> - Page not found</li>
    <li><a routerLink="/error/500">500</a> - Technical fault</li>
  </ul>
</div>
