<div id="{{ controlName }}-container" class="field" [formGroup]="parentFormGroup">
  <label class="label" for="{{ controlName }}">{{ label }}</label>
  <p class="help" *ngIf="helpText">
    {{ helpText }}
  </p>
  <div class="control has-icons-right">
    <input id="{{ controlName }}" class="input is-uppercase" [class.is-success]="postcodeControl.valid" [class.is-danger]="postcodeControl.dirty && postcodeControl.touched && !postcodeControl.valid"
      type="text" placeholder="{{ label }}" maxlength="8" autocomplete="postal-code" formControlName="{{ controlName }}"/>
    <span class="icon is-small is-right" [class.is-success]="postcodeControl.dirty || !postcodeControl.pristine" *ngIf="postcodeControl.valid">
      <i class="fas fa-check"></i>
    </span>
    <span class="icon is-small is-right" [class.is-danger]="postcodeControl.dirty || !postcodeControl.pristine" *ngIf="postcodeControl.dirty && postcodeControl.touched && !postcodeControl.valid">
      <i class="fas fa-times"></i>
    </span>
  </div>

  <ng-container *ngIf="(submitted && !postcodeControl.valid) || (!postcodeControl.valid && postcodeControl.dirty && postcodeControl.touched)">
    <div [hidden]="!postcodeControl.hasError('required')">
      <p class="help is-danger">Postcode is required</p>
    </div>
    <div [hidden]="!postcodeControl.hasError('rangeLength')">
      <p class="help is-danger">Please enter between 5 and 8 characters</p>
    </div>
    <div [hidden]="!postcodeControl.hasError('pattern') || postcodeControl.hasError('rangeLength')">
      <p class="help is-danger">The postcode is not correct, please check and try again</p>
    </div>
  </ng-container>
</div>
