// Esure brand colors

$es-base: hsl(214, 33%, 96%);

// primary colors
// $es-blue: #0971b0;
$es-blue: hsl(203, 100%, 34%);
// $es-orange: hsl(34, 93%, 54%);
$es-orange: hsl(35, 100%, 47%);
$es-black: hsl(60, 1%, 23%); // esure black

// secondary colors
$es-light-blue: hsl(206, 87%, 73%);
$es-lighter-blue: hsl(207, 81%, 85%);
$es-light-orange: hsl(21, 77%, 52%);
$es-lighter-orange: hsl(32, 91%, 63%);

// Overrides
$black: $es-black;
$base: $es-base;
$primary: $es-blue;
$prim-alt: $es-orange;

$secondary: $es-light-blue;
$secondary-alt: $es-light-orange;
$secondary-alt-light: $es-lighter-orange;

// Typography
$family-sans-serif: 'MuseoSansRounded', Helvetica, Arial, sans-serif;
$family-monospace: monospace !default;
$render-mode: optimizeLegibility !default;
$body-family: 'Roboto', Helvetica, Arial, sans-serif;
