// cool highlighting
::-moz-selection {
  color: $primary;
  background: $secondary;
}

::selection {
  color: $primary;
  background: $base;
}

#header {
  padding: 8px 10px 2px;
  margin-bottom: 1.5rem;
  nav.level {
    min-height: 50px;
  }
}

es-sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  z-index: 9999;
}

es-view-source {
  p {
    background-color: $grey-lighter;
    padding-right: .5rem;
    border: transparent;
    width: 150px;
    text-align: center;
    transition: width .5s 0s;
    border-radius: 5px;
    &.view-source {
      border-radius: 5px 5px 0 0;
      text-align: right;
      margin-bottom: 0 !important;
      background-color: $grey-lighter;
      width: 100%;
    }
  }
  a {
    color: $grey !important;
    height: 100%;
    width: 100%;
    display: inline-block;
  }
  div {
    margin-bottom: 1rem;
  }
  .hljs {
    white-space: pre-wrap;
  }
}

#sidebar {
  height: 100%;
  .sidebar-container {
    height: 100%;
    background-color: $dark;
    transform: translate(-200px);
    transition: transform .5s;
    width: 200px;
    overflow: auto;
    ul {
      margin: 0;
      padding: 1rem;
      list-style: none;
      li {
        margin-top: 0;
        margin-bottom: 1rem;
      }
    }
    a {
      color: $base;
      &.active {
        color: $primary;
      }
    }
    .button.is-link.is-outlined {
      border-color: $grey-dark;
      color: $base;
    }
    &.open {
      transform: translate(0);
    }
  }
}

#main {
  transition: transform .5s;
  &.open {
    @include desktop {
      width: calc(100% - 260px);
    }
    transform: translate(260px);
  }
}

.content h1:not(:first-child) {
  margin-top: 0;
}

h6.is-7.subtitle {
  color: $grey;
}

#swatch {
  .column {
    @include tablet {
      padding: .2rem 0 .8rem;
    }
    text-align: center;
    &:first-child {
      @include tablet {
        padding-left: 1rem;
      }
    }
    &:last-child {
      @include tablet {
        padding-right: 1rem;
      }
    }
  }
  .box {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    p {
      color: $base;
      font-size: 1.2rem;
      font-weight: 700;
      &.invert {
        color: $grey-light;
      }
    }
  }
}

.button.is-link.is-outlined.active {
  background-color: $primary;
  color: $base;
}

#switchBrand {
  .button {
    &.active {
      background-color: $dark;
    }
  }
}

// Hamburger
.hamburger-btn {
  transition: transform .5s;
  outline: 0;
  background: $dark;
  display: inline-block;
  cursor: pointer;
  border: 0;
  padding: 20px;
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  height: 60px;
  width: 60px;
  z-index: 99999999;
  .icon {
    font-size: 36px;
    color: $base;
    padding: 5px;
  }
  &.open {
    transform: translate(200px);
  }
}

.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: .15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: .9;
}

.hamburger-box {
  width: 24px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
  text-indent: -9999px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 18px;
  height: 2px;
  background-color: $base;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: .15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: '';
  display: block;
}

.hamburger-inner::before {
  top: -7px;
}

.hamburger-inner::after {
  bottom: -7px;
}

// Spin
.hamburger--spin .hamburger-inner {
  transition-duration: .22s;
  transition-timing-function: cubic-bezier(.55, .055, .675, .19);
}

.hamburger--spin .hamburger-inner::before {
  transition: top .1s .25s ease-in, opacity .1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
  transition: bottom .1s .25s ease-in, transform .22s cubic-bezier(.55, .055, .675, .19);
}

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: .12s;
  transition-timing-function: cubic-bezier(.215, .61, .355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top .1s ease-out, opacity .1s .12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
}

ul.sc-icon {
  margin-left: 0;
  list-style: none;
  li {
    padding: 5px 0;
  }
}

.sc-prim-alt {
  background-color: $prim-alt;
}

.sc-secondary {
  background-color: $secondary;
}

.sc-secondary-alt {
  background-color: $secondary-alt;
}

.sc-secondary-alt-light {
  background-color: $secondary-alt-light;
}

figure.sc-icons {
  margin: 0 auto !important;
  p {
    color: $grey-light;
    font-size: .8rem;
    margin-top: 7px;
  }
}
