// Import the base esure styles, need to specify the image and font paths, otherwise they look relative to this file and wont be found
$es-font-path: '../../projects/styles-lib/src/assets/styles/firstalternative/fonts';
$es-images-path: '../../projects/styles-lib/src/assets/images';
@import '../../projects/styles-lib/src/assets/styles/partials/portal/settings/responsive';
@import '../../projects/styles-lib/src/assets/styles/firstalternative/firstalternative';
@import 'shared_styleguide';

.logo {
  background-image: url('./css-bg-images/firstalternative/logo_alt.svg');
  height: 50px;
  width: 220px;
  background-size: 100%;
}
