<div class="box">
  <h1 class="title is-1">Back To Top</h1>
  <h6 class="subtitle is-7">
    <a href="https://s3-eu-west-1.amazonaws.com/s3-ec-ext-dev-all-digital-app-docs/digital-app-components/compodoc/styles-lib/modules/BackToTopModule.html" target="_blank">
      Compodoc Source <span class="icon is-small"><i class="fas fa-external-link-alt fa-xs"></i></span></a>
  </h6>

  <article class="message is-primary">
    <div class="message-header">
      <p>Info</p>
    </div>
    <div class="message-body">
      <p>This is a component to let you scroll back to the top of the page by clicking it.</p>
      <p>It is already integrated into this showcase app, scroll down on long pages to see it.</p>
    </div>
  </article>

  <p>Typically this will be needed on all pages, so can be added into the applications main app component.</p>
  <p>It is based on the <a href="https://daniel-projects.firebaseapp.com/owlng/back-top" target="_blank">Owlng implementation <span class="icon is-small"><i class="fas fa-external-link-alt fa-xs"></i></span></a></p>

  <es-view-source>
    <textarea highlight-js lang="html">
    <es-back-to-top></es-back-to-top>
    </textarea>
  </es-view-source>

</div>
