a[href^='tel:'] {
  text-decoration: none !important;
  white-space: nowrap;
}

a.help-icon {
  background-color: $prim-alt;
  border: 0;
  color: $white;
  border-radius: 50% !important;
  width: 32px;
  height: 32px !important;
  margin-left: 10px;
  margin-top: 5px;
  font-weight: 700;
  &:hover {
    color: $white;
  }
}

button, a {
  &.is-primary {
    .es-icon {
      fill: $base;
    }
  }
  &.is-success {
    .es-icon {
      fill: $base;
      height: 100%;
    }
  }
}

// Fix for text only buttons
.button.is-text {
  &:focus {
    box-shadow: none;
  }
  &:active {
    background-color: transparent;
  }
}

// Fix for full width buttons on IOS10
.button.is-fullwidth {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}

.back-to-top {
  color: $white;
  padding: 12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  outline: 0;
  position: fixed;
  right: 1.2rem;
  bottom: 1.2rem;
  z-index: 9999;
  border-radius: 3px;
  cursor: pointer;
  background-color: $grey-darker;
  &:hover {
    background-color: $black-bis;
  }
}
