ul.checklist {
  margin-left: 0;
  li {
    list-style: none;
    margin-top: 1rem;
    &:first-child {
      margin-top: 1.5rem;
    }
  }
}

ul.checklist li::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 1rem;
  content: '\f00c';
  padding: 0 .5rem 0 .25rem;
}
