// Global Message
es-global-messages .notification {
  margin-bottom: 1.5rem;
  p a:not(.button):not(.tag) {
    text-decoration: none;
    border-bottom: 1px solid;
    display: -moz-inline-box; //Fixes line not showing in FF windows 10
    &:hover {
      border-bottom: 2px solid;
    }
  }
}

es-global-messages .notification p {
  a[href^='tel:'] {
    border-bottom: 0 !important;
  }
}

.message-header {
  background-color: $primary;
}

.messages-container {
  &.notification {
    padding: 1rem 1.5rem;
  }
  .delete {
    font-size: 1rem;
  }
}

// Modal
.seconds-count {
  display: inline-block;
  width: 25px;
}

// Bulma Modal style-overrides
.modal.is-active {
  flex-direction: column;
}

.modal-background {
  background-color: $black;
  opacity: .7;
}
