.tooltip.is-tooltip-active::before, .tooltip:hover::before {
  @include mobile {
    transform: translate(-90%, .5rem) !important;
  }
  opacity: 1 !important; // FIXME: This doesn't work on disabled buttons, it still has the opacity of the button which is 0.5
}

// FIXME: Can this be combined with the above somehow, basically changes the transform if has class but-left
.tooltip.but-left.is-tooltip-active::before, .tooltip.but-left:hover::before {
  @include mobile {
    transform: translate(-32%, .5rem) !important;
  }
}
