<div class="box">
  <h1 class="title is-1">Help Text</h1>
  <h6 class="subtitle is-7">
    <a href="https://s3-eu-west-1.amazonaws.com/s3-ec-ext-dev-all-digital-app-docs/digital-app-components/compodoc/styles-lib/modules/HelpTextModule.html" target="_blank">
      Compodoc Source <span class="icon is-small"><i class="fas fa-external-link-alt fa-xs"></i></span></a>
  </h6>

  <article class="message is-primary">
    <div class="message-header">
      <p>Icon method</p>
    </div>
    <div class="message-body">
      <p>When helpIcon is true you can use a local variable on es-help-text to toggle help text using the toggleHelpText method</p>
      <p>NOTE: All form fields components are extended from the form-field.component</p>
    </div>
  </article>

  <es-number-field
    class="field-wrapper" [parentFormGroup]="form" [submitted]="submitted"
    controlName="Number" label="Number Field" maxlength="2" rightText="i" (emitClickIcon)="numberHelp.toggleHelpText()"></es-number-field>
  <es-help-text #numberHelp [helpIcon]="true">
    Here is some help text for the number field.
  </es-help-text>


  <es-view-source>
  <textarea highlight-js lang="html">
    <es-number-field
    class="field-wrapper" [parentFormGroup]="form" [submitted]="submitted"
    controlName="Number" label="Number Field" maxlength="2" rightText="i"
    (emitClickIcon)="numberHelp.toggleHelpText()"></es-number-field>
    <es-help-text #numberHelp [helpIcon]="true">
    Here is some help text for the number field.
    </es-help-text>
  </textarea>
  </es-view-source>

  <hr />

  <article class="message is-primary">
    <div class="message-header">
      <p>'What does this mean?' method</p>
    </div>
    <div class="message-body">
      <p>If the helpIcon is not passed in the 'What does this mean' text triggers the toggleHelpText method</p>
    </div>
  </article>


  <h4 class="title is-4">Deipnosophist</h4>
  <es-help-text>
    <p>A person skilled in the art of dining and dinner-table conversation.</p>
  </es-help-text>

  <h4 class="title is-4">Floccinaucinihilipilification</h4>
  <es-help-text>
    <p>The action or habit of estimating something as worthless (a word generally only quoted as a curiosity)</p>
  </es-help-text>

  <es-view-source>
  <textarea highlight-js lang="html">
    <es-help-text>
    <p>The action or habit of estimating something as worthless (a word generally only quoted as a curiosity)</p>
  </es-help-text>
  </textarea>
  </es-view-source>
</div>
