<es-sidebar (menuOpen)="menuToggle()"></es-sidebar>

<div id="main" [ngClass]="{'open': sharedService.menuOpen}">
  <div class="columns is-marginless is-multiline">
    <div id="header" class="column is-10" [ngClass]="{'is-11-tablet': sharedService.menuOpen, 'is-offset-1': !sharedService.menuOpen}">
      <nav class="level">
        <div class="level-left">
          <div class="level-item">
            <a routerLink="/showcase" title="Home">
              <div class="logo"><span class="is-sr-only">{{ sharedService.brandTitle }}</span></div>
            </a>
          </div>
        </div>

        <div class="level-right">
          <div id="switchBrand" class="buttons">
            <button class="button is-primary is-rounded is-small" [class.active]="sharedService.theme === 'esure'" type="button" (click)="sharedService.changeTheme('esure')">esure</button>
            <button class="button is-primary is-rounded is-small" [class.active]="sharedService.theme === 'sheilaswheels'" type="button" (click)="sharedService.changeTheme('sheilaswheels')">Sheilas'
              Wheels
            </button>
            <button class="button is-primary is-rounded is-small" [class.active]="sharedService.theme === 'firstalternative'" type="button" (click)="sharedService.changeTheme('firstalternative')">First
              Alternative
            </button>
          </div>
        </div>
      </nav>
    </div>
    <div class="column is-10" [ngClass]="{'is-11-tablet': sharedService.menuOpen, 'is-offset-1': !sharedService.menuOpen }">
      <div class="container content" [@secondaryRouterFadeAnimation]="o.isActivated ? o.activatedRoute : ''">
        <router-outlet #o="outlet"></router-outlet>
      </div>
    </div>
  </div>
</div>
