<div class="box">
  <h1 class="title is-1">Assets</h1>

  <article class="message is-primary">
    <div class="message-header">
      <p>Info</p>
    </div>
    <div class="message-body">
      <p>The library currently provides the following assets for each brand.</p>
      <ul>
        <li><a routerLink='./' fragment="fav">Favicons</a></li>
        <li><a routerLink='./' fragment="splash">Splash images</a></li>
        <li><a routerLink='./' fragment="logos">Logos</a></li>
      </ul>
      <p>See the <a routerLink="../">Getting Started</a> guide for how to copy the assets into your app.</p>
    </div>
  </article>

  <h2 id="fav" class="title is-2">Favicons</h2>
  <h6 class="subtitle is-7">The library provides all the favicons covering Android, Apple and MS Tile.</h6>

  <h3 class="title is-3">Standard icons</h3>

  <div class="columns">
    <div class="column is-third" *ngFor="let icon of standardIcons">
      <div class="box">
      <figure>
        <img src="assets/images/{{ sharedService.theme }}/favicons/{{ icon[0] }}" alt="{{ icon[1] }}" title="{{ icon[1] }}" />
      </figure>
      <p class="has-text-centered">{{ icon[1] }}</p>
      </div>
    </div>
  </div>

  <hr />

  <h3 class="title is-3">Android (png)</h3>

  <div class="columns">
    <div class="column is-half" *ngFor="let icon of androidIcons">
      <div class="box">
      <figure>
        <img src="assets/images/{{ sharedService.theme }}/favicons/{{ icon[0] }}" alt="{{ icon[1] }}" title="{{ icon[1] }}" />
      </figure>
      <p class="has-text-centered">{{ icon[1] }}</p>
      </div>
    </div>
  </div>

  <hr />

  <h3 class="title is-3">Apple (png)</h3>

  <div class="columns is-multiline">
    <div class="column is-half" *ngFor="let icon of appleIcons">
      <div class="box">
      <figure>
        <img src="assets/images/{{ sharedService.theme }}/favicons/{{ icon[0] }}" alt="{{ icon[1] }}" title="{{ icon[1] }}" />
      </figure>
      <p class="has-text-centered">{{ icon[1] }}</p>
      </div>
    </div>
  </div>

  <hr />

  <h3 class="title is-3">MS Tile (png)</h3>

  <div class="columns">
    <div class="column is-half" *ngFor="let icon of mstileIcons">
      <div class="box">
      <figure>
        <img src="assets/images/{{ sharedService.theme }}/favicons/{{ icon[0] }}" alt="{{ icon[1] }}" title="{{ icon[1] }}" />
      </figure>
      <p class="has-text-centered">{{ icon[1] }}</p>
      </div>
    </div>
  </div>

  <hr />

  <h2 id="splash" class="title is-2">Splash images</h2>
  <h6 class="subtitle is-7">The library provides various size splash images. These are used when the website has been saved as an app
    on Android/Apple phones, and the app gets launched on the phone.
  </h6>

  <div class="columns is-multiline">
    <div class="column is-half" *ngFor="let splash of splashImages">
      <div class="box">
      <figure>
        <a href="assets/images/{{ sharedService.theme }}/splash/{{ splash[0] }}" target="_blank">
          <img src="assets/images/{{ sharedService.theme }}/splash/{{ splash[0] }}" alt="{{ splash[1] }}" title="{{ splash[1] }}" />
        </a>
      </figure>
      <p class="has-text-centered">{{ splash[1] }}</p>
      </div>
    </div>
  </div>

  <h2 id="logos" class="title is-2">Logos</h2>
  <h6 class="subtitle is-7">The library provides a few logos, shown below.</h6>

  <div class="columns is-multiline">
    <div class="column is-half" *ngFor="let logo of logos">
      <div class="box has-background-grey-light">
      <figure>
        <img src="assets/images/{{ sharedService.theme }}/logos/{{ logo[0] }}" alt="{{ logo[1] }}" title="{{ logo[1] }}" />
      </figure>
      <p class="has-text-centered">{{ logo[1] }}</p>
      </div>
    </div>
  </div>
</div>
