<es-loading-box></es-loading-box>

<div [@primaryRouterFadeAnimation]="o.isActivated ? o.activatedRoute : ''">
  <router-outlet #o="outlet"></router-outlet>
</div>

<!-- Intentionally placed outside of the animated router outlet -->
<es-back-to-top></es-back-to-top>
