<div id="{{ controlName }}-container" class="field" [formGroup]="parentFormGroup">
  <div class="columns is-gapless is-mobile">
    <div class="column">
      <label class="label" for="{{ controlName }}">{{ label }}</label>
    </div>
    <div *ngIf="hasTogglePass" class="column has-text-right">
      <a id="{{ controlName }}Toggle" (click)="toggleShowPassword()">
        <span class="icon">
        <i [ngClass]="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
        </span>
        {{ showPassword ? 'Hide' : 'Show' }} Password</a>
    </div>
  </div>

  <div class="control has-icons-right">
    <input id="{{ controlName }}" class="input" placeholder="{{ label }}" [class.is-success]="password.valid" [class.is-danger]="password.dirty && password.touched && !password.valid"
      type="{{ showPassword ? 'text' : 'password' }}" formControlName="{{ controlName }}" maxlength="72"
      autocomplete="{{ autocomplete }}" />
    <span class="icon is-small is-right is-success"  *ngIf="password.valid">
      <i class="fas fa-check"></i>
    </span>
    <span class="icon is-small is-right is-danger" *ngIf="password.dirty && password.touched && !password.valid">
      <i class="fas fa-times"></i>
    </span>
  </div>

  <ng-container *ngIf="(submitted && !password.valid) || (password.dirty && password.touched && !password.valid)">
    <div [hidden]="!password.hasError('required') && !password.hasError('equalTo')">
      <p class="help is-danger">{{ requiredMessage }}</p>
    </div>
    <div [hidden]="!password.hasError('rangeLength')">
      <p class="help is-danger">{{ minLengthMessage ? minLengthMessage : requiredMessage }}</p>
    </div>
    <div [hidden]="!password.hasError('pattern') || password.hasError('rangeLength')">
      <p class="help is-danger">{{ patternMessage ? patternMessage : requiredMessage }}</p>
    </div>
  </ng-container>
</div>
