<div class="box">
  <h1 class="title is-1">Fonts</h1>

  <article class="message is-primary">
    <div class="message-header">
      <p>Info</p>
    </div>
    <div class="message-body">
      <p>These fonts are currently organic and a work in progress.</p>
    </div>
  </article>


  <ng-container *ngIf="sharedService.theme === 'esure'">

    <h1 class="title is-1 is-size-2-mobile has-text-weight-bold">
      H1 - MuseoSansRounded, Helvetica, Arial, sans-serif (includes .has-text-weight-bold)
    </h1>
    <h2 class="title is-2">
      H2 - Roboto, Helvetica, Arial, sans-serif
    </h2>
    <h3 class="title is-3 is-size-4-mobile">
      H3 - Roboto, Helvetica, Arial, sans-serif
    </h3>
    <h4 class="title is-4 has-text-weight-bold">
      H4 - Roboto, Helvetica, Arial, sans-serif (includes .has-text-weight-bold)
    </h4>
    <h5 class="title is-5 is-size-4-mobile">
      H5 - Roboto, Helvetica, Arial, sans-serif
    </h5>
    <h6 class="title is-6 has-text-weight-bold">
      H6 - Roboto, Helvetica, Arial, sans-serif
    </h6>

    <p>Paragraph - Roboto,Helvetica,Arial,sans-serif ( Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi
      beatae eum in incidunt quisquam? Dolores
      fuga maxime sunt. Culpa cum doloribus excepturi labore molestiae molestias ).</p>

  </ng-container>


  <ng-container *ngIf="sharedService.theme === 'sheilaswheels'">

    <h1 class="title is-1 is-size-2-mobile has-text-weight-bold">
      H1 - Futura-Book,Helvetica,Arial,sans-serif (includes .has-text-weight-bold)
    </h1>
    <h2 class="title is-2">
      H2 - Roboto, Helvetica, Arial, sans-serif
    </h2>
    <h3 class="title is-3 is-size-4-mobile">
      H3 - Roboto, Helvetica, Arial, sans-serif
    </h3>
    <h4 class="title is-4 has-text-weight-bold">
      H4 - Roboto, Helvetica, Arial, sans-serif (includes .has-text-weight-bold)
    </h4>
    <h5 class="title is-5 is-size-4-mobile">
      H5 - Roboto, Helvetica, Arial, sans-serif
    </h5>
    <h6 class="title is-6 has-text-weight-bold">
      H6 - Roboto, Helvetica, Arial, sans-serif
    </h6>
    <p>Paragraph - Roboto,Helvetica,Arial,sans-serif ( Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi
      beatae eum in incidunt quisquam? Dolores
      fuga maxime sunt. Culpa cum doloribus excepturi labore molestiae molestias ).</p>
  </ng-container>

  <ng-container *ngIf="sharedService.theme === 'firstalternative'">
    <h1 class="title is-1 is-size-2-mobile has-text-weight-bold">
      H1 - Helvetica,Arial,sans-serif (includes .has-text-weight-bold)
    </h1>
    <h2 class="title is-2">
      H2 - Roboto, Helvetica, Arial, sans-serif
    </h2>
    <h3 class="title is-3 is-size-4-mobile">
      H3 - Roboto, Helvetica, Arial, sans-serif
    </h3>
    <h4 class="title is-4 has-text-weight-bold">
      H4 - Roboto, Helvetica, Arial, sans-serif (includes .has-text-weight-bold)
    </h4>
    <h5 class="title is-5 is-size-4-mobile">
      H5 - Roboto, Helvetica, Arial, sans-serif
    </h5>
    <h6 class="title is-6 has-text-weight-bold">
      H6 - Roboto, Helvetica, Arial, sans-serif
    </h6>

    <p>Paragraph - Roboto,Helvetica,Arial,sans-serif ( Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi
      beatae eum in incidunt quisquam? Dolores
      fuga maxime sunt. Culpa cum doloribus excepturi labore molestiae molestias ).</p>
  </ng-container>

  <es-view-source>
  <textarea highlight-js lang="html">
  <h1 class="title is-1 is-size-2-mobile has-text-weight-bold">H1</h1>
  <h2 class="title is-2">H2</h2>
  <h3 class="title is-3 is-size-4-mobile">H3</h3>
  <h4 class="title is-4 has-text-weight-bold">H4</h4>
  <h5 class="title is-5 is-size-4-mobile">H5</h5>
  <h6 class="title is-6 has-text-weight-bold">H6</h6>
  <p>Paragraph</p>
  </textarea>
  </es-view-source>
</div>
