// Sidenav
ng-sidebar aside {
  width: 220px;
}

.ng-sidebar {
  background: $primary;
  padding: 0 1rem;
  margin: 0;
  z-index: 103 !important;
  h2 {
    color: $base;
  }
}

// sass-lint:disable-block class-name-format
.ng-sidebar__backdrop {
  @include desktop {
    display: none !important;
  }
  opacity: .25 !important;
  top: 65px !important;
  z-index: 102 !important;
}

ng-sidebar>aside {
  @include desktop {
    top: 0 !important;
  }
  div.logo {
    background-position: center;
    text-indent: -9999px;
    opacity: 1;
    transition: opacity .2s ease-in-out;
    margin: 15px 0 0 10px;
    background-repeat: no-repeat !important;
  }
  div.logo:hover {
    opacity: .8;
  }
  top: 65px !important;
  .icon {
    fill: $base;
    font-size: 28px;
    top: 5px;
    position: relative;
  }
  ul {
    padding: .75rem 0 0;
    list-style: none inside;
    li {
      margin: .5rem;
      a {
        padding: 5px 15px 12px;
        margin-bottom: .5rem;
        display: block;
        color: $base;
        border-radius: 40px;
        text-decoration: none !important;
        &.active, &:hover {
          transition: background-color .5s;
          background-color: $primary-inset;
          color: $base;
        }
      }
    }
  }
}

[ng-sidebar-content]#scroll-container {
  @include desktop {
    width: calc(100% - 220px);
  }
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $base;
  .container {
    margin-left: 0;
    max-width: 960px;
  }
}

// dont remove fixes bulma container/header wid sidebar
#scroll-container {
  @include tablet {
    .container {
      max-width: 100%;
      width: 100%;
    }
  }
  @include desktop {
    header {
      max-width: 960px;
    }
  }
}

// sass-lint:disable-block class-name-format
.ng-sidebar__content[_ngcontent-c0] {
  @include desktop {
    width: calc(100% - 220px);
  }
  position: relative !important;
  width: 100%;
  height: 100%;
}

.ng-sidebar--animate[_ngcontent-c1] {
  transition: transform .3s cubic-bezier(0, 0, .3, 1) !important;
}

es-nav-bar {
  display: block;
  .logo {
    @include touch {
      display: none;
    }
  }
  .button {
    border-radius: 20px !important;
    &.is-text {
      text-decoration: none;
      color: $primary;
      padding-left: 0;
      &:hover {
        text-decoration: underline;
        color: $primary;
        background-color: transparent;
      }
    }
  }
}
