.tabs.is-boxed {
  margin-bottom: -20px;
  position: relative;
  z-index: 95;
  left: -1px;
  width: calc(100% + 2px);
  a {
    &:hover {
      background-color: transparent;
    }
  }
  ul {
    border-bottom: 0;
  }
}

.tabs li a {
  font-weight: 400;
  border-bottom-color: $white;
  &:hover {
    border-bottom-color: transparent;
  }
}

.tabs li.is-active a {
  color: $link;
  font-weight: 700;
  border-bottom-width: 4px;
  &:hover {
    border-bottom-color: $link-hover;
  }
}

.tabs.is-boxed li.column {
  margin-top: -20px;
  &.is-active {
    margin-top: 0;
  }
}

.tabs.is-boxed .is-active::after {
  display: block;
  content: '';
  width: 100%;
  height: 20px;
  background-color: $white;
}

.tabs.is-boxed .is-active:first-child::after {
  border-left: 1px solid $grey-lighter;
}

.tabs.is-boxed .is-active:last-child::after {
  border-right: 1px solid $grey-lighter;
}

.tabs.is-hidden-desktop a {
  padding: 1rem .5rem;
}

.tabs.is-boxed a:hover {
  border-bottom-color: transparent;
}
