<div class="box content">
  <h1 class="title is-1">404 Page Not Found</h1>
  <p>
    The page you're looking for either no longer exists, has moved, or the address has been entered incorrectly.
  </p>

  <p>
    <a esButton="inverted" routerLink="../../">Back home</a>
  </p>

</div>



