<div id="sidebar">
  <button class="hamburger-btn is-radiusless" [ngClass]="{'open': sharedService.burgerActive}" (click)="toggle()" value="menu"
          title="menu">
    <div class="hamburger hamburger--spin" [ngClass]="{'is-active': sharedService.burgerActive}">
      <div class="hamburger-box">
        <div class="hamburger-inner">Menu</div>
      </div>
    </div>
  </button>

  <div class="sidebar-container" [ngClass]="{'open': sharedService.burgerActive}">

    <div class="content">
      <ul role="navigation">
        <li>
          <a (click)="closeMenuOnMobile()" title="Home" class="home" routerLink="/showcase" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">
            <span class="icon is-large icon-only">
              <i class="fas fa-home fa-2x"></i>
            </span>
          </a>
          <a [class.active]="!sharedService.hideAllSource" title="Toggle view source" (click)="sharedService.hideAllCode()">
            <span class="icon is-large icon-only">
              <i class="fas fa-code fa-lg"></i>
            </span>
          </a>
        </li>
        <li>
          <a (click)="closeMenuOnMobile()" esButton="inverted" esFullwidth="true" routerLink="assets" routerLinkActive="active">
            <span class="icon">
              <i class="far fa-images"></i>
            </span>
            <span>Assets</span>
          </a>
        </li>
        <li>
          <a (click)="closeMenuOnMobile()" esButton="inverted" esFullwidth="true" routerLink="backtop" routerLinkActive="active">
            <span class="icon">
              <i class="fas fa-arrow-up"></i>
            </span>
            <span>Back To Top</span>
          </a>
        </li>
        <li>
          <a (click)="closeMenuOnMobile()" esButton="inverted" esFullwidth="true" routerLink="buttons" routerLinkActive="active">
            <span class="icon">
              <i class="fas fa-hand-point-up"></i>
            </span>
            <span>Buttons</span>
          </a>
        </li>
        <li>
          <a (click)="closeMenuOnMobile()" esButton="inverted" esFullwidth="true" routerLink="colors" routerLinkActive="active">
            <span class="icon">
              <i class="fas fa-paint-brush"></i>
            </span>
            <span>Colors</span>
          </a>
        </li>
        <li>
          <a (click)="closeMenuOnMobile()" esButton="inverted" esFullwidth="true" routerLink="fonts" routerLinkActive="active">
            <span class="icon">
              <i class="fas fa-font"></i>
            </span>
            <span>Fonts</span>
          </a>
        </li>
        <li>
          <a (click)="closeMenuOnMobile()" esButton="inverted" esFullwidth="true" routerLink="forms" routerLinkActive="active">
            <span class="icon">
              <i class="fas fa-edit"></i>
            </span>
            <span>Forms</span>
          </a>
        </li>
        <li>
          <a (click)="closeMenuOnMobile()" esButton="inverted" esFullwidth="true" routerLink="helptext" routerLinkActive="active">
            <span class="icon">
              <i class="fas fa-question"></i>
            </span>
            <span>Help Text</span>
          </a>
        </li>
        <li>
          <a (click)="closeMenuOnMobile()" esButton="inverted" esFullwidth="true" routerLink="icons" routerLinkActive="active">
            <span class="icon">
              <i class="fab fa-fonticons-fi"></i>
            </span>
            <span>Icons</span>
          </a>
        </li>
        <li>
          <a (click)="closeMenuOnMobile()" esButton="inverted" esFullwidth="true" routerLink="loadingbox" routerLinkActive="active">
            <span class="icon">
              <i class="fas fa-spinner"></i>
            </span>
            <span>Loading Box</span>
          </a>
        </li>
        <li>
          <a (click)="closeMenuOnMobile()" esButton="inverted" esFullwidth="true" routerLink="messages" routerLinkActive="active">
            <span class="icon">
              <i class="far fa-comment-alt"></i>
            </span>
            <span>Messages</span>
          </a>
        </li>
        <li>
          <a (click)="closeMenuOnMobile()" esButton="inverted" esFullwidth="true" routerLink="tooltips" routerLinkActive="active">
          <span class="icon">
            <i class="far fa-comments"></i>
          </span>
          <span>Tooltips</span>
          </a>
        </li>
        <li>
          <a (click)="closeMenuOnMobile()" esButton="inverted" esFullwidth="true" routerLink="utils" routerLinkActive="active">
            <span class="icon">
              <i class="fas fa-cogs"></i>
            </span>
            <span>Utils</span>
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>
