<div class="box">
  <h1 class="title is-1">Tooltips</h1>

  <article class="message is-primary">
    <div class="message-header">
      <p>Info</p>
    </div>
    <div class="message-body">
      <p>Tooltips are handled using the <a href="https://wikiki.github.io/elements/tooltip/" target="_blank">Bulma Tooltip <span class="icon is-small"><i class="fas fa-external-link-alt fa-xs"></i></span></a> extension.</p>
      <p>TODO: We have current bug where the opacity is staying at 0.5 if on a disabled button, even though it has opacity
        1 set to important for the tooltip</p>
    </div>
  </article>

  <h2 class="title is-2">Usage with <a routerLink="../buttons">esButton</a> directive</h2>

  <div class="buttons">
    <button esButton="primary"
            [esTooltip]="{ enabled: tooltipEnabled, classes: ['is-tooltip-bottom-mobile', 'is-tooltip-right', 'is-tooltip-multiline', 'but-left'] }"
            type="button" data-tooltip="Please check form fields are valid, plus a bit more to make longer text">Hover
      me for tooltip!
    </button>
    <button (click)="tooltipEnabled = !tooltipEnabled" esButton="text">{{ tooltipEnabled ? 'Disable' : 'Enable' }}
      Tooltip
    </button>
  </div>

  <es-view-source>
  <textarea highlight-js lang="html">
  <button
    esButton="primary"
    [esTooltip]="{ enabled: tooltipEnabled,
    classes: ['is-tooltip-bottom-mobile', 'is-tooltip-right',
    'is-tooltip-multiline', 'but-left'] }"
    type="button"
    data-tooltip="Please check form fields are valid, plus a bit more to make longer text">
    Hover me for tooltip!
  </button>
  </textarea>
  </es-view-source>

  <hr />

  <h2 class="title is-2">Standard usage</h2>

  <p>Tooltips can be applied manually to any element you want, although is advised to only add to non block elements.
    As a minimum you need to have <span class="has-text-weight-bold">class="tooltip"</span> and a
    <span class="has-text-weight-bold">data-tooltip="Some text"</span> attribute. Other classes can be set to determine the
  positioning of the tooltip on mobile, tablet and desktop. See the <a href="https://wikiki.github.io/elements/tooltip/" target="_blank">Bulma Tooltip
    <span class="icon is-small"><i class="fas fa-external-link-alt fa-xs"></i></span></a> documentation for the options.</p>

  <div class="notification has-text-info">
    <span class="tooltip" data-tooltip="Tooltip text!">This is a span of text that has a tooltip</span>
  </div>

  <es-view-source>
  <textarea highlight-js lang="html">
  <span class="tooltip" data-tooltip="Tooltip text!">This is a span of text that has a tooltip</span>
  </textarea>
  </es-view-source>
</div>
