<div class="box content">
  <h1 class="title is-1">500 Error Page</h1>
  <p>
    There was a technical error!
  </p>

  <p>
    <a esButton="inverted" routerLink="../../">Back home</a>
  </p>

</div>



