<div id="{{ controlName }}-container" class="field" [formGroup]="parentFormGroup">
  <label class="label" for="{{ controlName }}">{{ label }}</label>
  <div class="control has-icons-right">
    <input id="{{ controlName }}" class="input" placeholder="{{ label }}" [class.is-success]="email.valid" [class.is-danger]="email.dirty && email.touched && !email.valid"
      type="email" formControlName="{{ controlName }}" maxlength="128" autocomplete="{{ autocomplete }}"
    />

    <span class="icon is-small is-right is-success" *ngIf="email.valid">
      <i class="fas fa-check"></i>
    </span>
    <span class="icon is-small is-right is-danger" *ngIf="email.dirty && email.touched && !email.valid">
      <i class="fas fa-times"></i>
    </span>
  </div>

  <div *ngIf="(submitted && !email.valid) || (email.dirty && email.touched && !email.valid)">
    <p class="help is-danger">{{ requiredMessage }}</p>
  </div>

</div>
