// Sheilas brand colors

$sw-base: hsl(33, 44%, 95%);

//primary colors
$sw-pink: hsl(335, 79%, 59%);
$sw-grey: hsl(0, 0%, 20%);


// secondary colors
$sw-light-pink: hsl(323, 71%, 70%);
$sw-light-grey: hsl(0, 0%, 52%);
$sw-light-blue: hsl(195, 73%, 74%);

$base: $sw-base;

// Overrides
$primary: $sw-pink;
$prim-alt: $sw-grey;

$secondary: $sw-light-pink;
$secondary-alt: $sw-light-grey;
$secondary-alt-light: $sw-light-blue;

// Typography
$family-sans-serif: 'Futura-Book', Helvetica, Arial, sans-serif;
$family-secondary: 'Airstream', Helvetica, Arial, sans-serif;
$family-monospace: monospace !default
$render-mode: optimizeLegibility !default
$body-family: 'Roboto', Helvetica, Arial, sans-serif;
