<div class="box">
  <h1 class="title is-1">Form Components</h1>
  <h6 class="subtitle is-7">
    <a href="https://s3-eu-west-1.amazonaws.com/s3-ec-ext-dev-all-digital-app-docs/digital-app-components/compodoc/forms-lib/index.html" target="_blank">
      Compodoc Source <span class="icon is-small"><i class="fas fa-external-link-alt fa-xs"></i></span></a>
  </h6>

  <article class="message is-primary">
    <div class="message-header">
      <p>Info</p>
    </div>
    <div class="message-body">
      <p>This page highlights the various form elements available to use. It also demonstrates help icons being used with
        various fields, as well as tooltips being used on the disabled state Submit button.</p>

      <p>The form components are designed to work with the following validation libraries:</p>
      <ul>
        <li>Standard built in <a href="https://angular.io/api/forms/Validators" target="_blank">Angular 6 validators <span class="icon is-small"><i class="fas fa-external-link-alt fa-xs"></i></span></a></li>
        <li>esure validator functions from <a href="https://www.npmjs.com/package/@esure-dev/utils" target="_blank">@esure-dev/utils <span
          class="icon is-small"><i class="fas fa-external-link-alt fa-xs"></i></span></a></li>
        <li><a href="https://github.com/rsaenen/ngx-custom-validators" target="_blank">ngx-custom-validators <span
          class="icon is-small"><i class="fas fa-external-link-alt fa-xs"></i></span></a> library,
          forked from <a href="https://github.com/yuyang041060120/ng2-validation" target="_blank">ng2-validation <span
            class="icon is-small"><i class="fas fa-external-link-alt fa-xs"></i></span></a></li>
      </ul>
    </div>
  </article>

  <form id="component-testing-form" [formGroup]="form" (ngSubmit)="submitForm()">

    <es-email class="field-wrapper" controlName="Email" [parentFormGroup]="form" [submitted]="submitted"
              label="Email"></es-email>
    <es-view-source>
    <textarea highlight-js lang="html">
    <es-email class="field-wrapper" controlName="Email"
    [parentFormGroup]="form" [submitted]="submitted"
    label="Email"></es-email>
    </textarea>
    </es-view-source>

    <h6 class="subtitle is-7">
      <a href="https://s3-eu-west-1.amazonaws.com/s3-ec-ext-dev-all-digital-app-docs/digital-app-components/compodoc/forms-lib/modules/EmailModule.html" target="_blank">
        Compodoc Source <span class="icon is-small"><i class="fas fa-external-link-alt fa-xs"></i></span></a>
    </h6>

    <hr />

    <es-password class="field-wrapper" controlName="Password" [parentFormGroup]="form"
                [submitted]="submitted"></es-password>

    <es-view-source>
    <textarea highlight-js lang="html">
    <es-password class="field-wrapper" controlName="Password"
    [parentFormGroup]="form"
    [submitted]="submitted"></es-password>
    </textarea>
    </es-view-source>

    <h6 class="subtitle is-7">
      <a href="https://s3-eu-west-1.amazonaws.com/s3-ec-ext-dev-all-digital-app-docs/digital-app-components/compodoc/forms-lib/modules/PasswordModule.html" target="_blank">
        Compodoc Source <span class="icon is-small"><i class="fas fa-external-link-alt fa-xs"></i></span></a>
    </h6>

    <hr />

    <es-firstname class="field-wrapper" [parentFormGroup]="form" [submitted]="submitted" controlName="Firstname" label="First name"></es-firstname>

    <es-view-source>
      <textarea highlight-js lang="html">
      <es-firstname class="field-wrapper" [parentFormGroup]="form" [submitted]="submitted"
      controlName="Firstname" label="First name"></es-firstname>
      </textarea>
    </es-view-source>

    <h6 class="subtitle is-7">
      <a href="https://s3-eu-west-1.amazonaws.com/s3-ec-ext-dev-all-digital-app-docs/digital-app-components/compodoc/forms-lib/modules/FirstnameModule.html" target="_blank">
        Compodoc Source <span class="icon is-small"><i class="fas fa-external-link-alt fa-xs"></i></span></a>
    </h6>

    <hr />

    <es-lastname class="field-wrapper" [parentFormGroup]="form" [submitted]="submitted" controlName="Lastname" label="Last name"></es-lastname>

    <es-view-source>
      <textarea highlight-js lang="html">
      <es-lastname class="field-wrapper" [parentFormGroup]="form" [submitted]="submitted"
      controlName="Lastname" label="Last name"></es-lastname>
      </textarea>
    </es-view-source>

    <h6 class="subtitle is-7">
      <a href="https://s3-eu-west-1.amazonaws.com/s3-ec-ext-dev-all-digital-app-docs/digital-app-components/compodoc/forms-lib/modules/LastnameModule.html" target="_blank">
        Compodoc Source <span class="icon is-small"><i class="fas fa-external-link-alt fa-xs"></i></span></a>
    </h6>

    <hr />

    <es-vehicle-reg-field class="field-wrapper" [parentFormGroup]="form"
      [submitted]="submitted" controlName="VehicleReg"
      label="Vehicle Registration number"
      helpText="(for car insurance customers only)"></es-vehicle-reg-field>

    <es-view-source>
      <textarea highlight-js lang="html">
      <es-vehicle-reg-field class="field-wrapper" [parentFormGroup]="form"
      [submitted]="submitted" controlName="VehicleReg"
      label="Vehicle Registration number"
      helpText="(for car insurance customers only)"></es-vehicle-reg-field>
      </textarea>
    </es-view-source>

    <h6 class="subtitle is-7">
      <a href="https://s3-eu-west-1.amazonaws.com/s3-ec-ext-dev-all-digital-app-docs/digital-app-components/compodoc/forms-lib/modules/VehicleRegModule.html" target="_blank">
        Compodoc Source <span class="icon is-small"><i class="fas fa-external-link-alt fa-xs"></i></span></a>
    </h6>

    <hr />

    <es-postcode class="field-wrapper" [parentFormGroup]="form"
      [submitted]="submitted"
      controlName="Postcode"
      label="Postcode"
      helpText="Some extra text under label"
    ></es-postcode>

    <es-view-source>
    <textarea highlight-js lang="html">
    <es-postcode class="field-wrapper" [parentFormGroup]="form"
    [submitted]="submitted"
    controlName="Postcode"
    label="Postcode"
    helpText="Some extra text under label"></es-postcode>
    </textarea>
    </es-view-source>

    <h6 class="subtitle is-7">
      <a href="https://s3-eu-west-1.amazonaws.com/s3-ec-ext-dev-all-digital-app-docs/digital-app-components/compodoc/forms-lib/modules/PostcodeModule.html" target="_blank">
        Compodoc Source <span class="icon is-small"><i class="fas fa-external-link-alt fa-xs"></i></span></a>
    </h6>
    <hr />

    <es-autocomplete class="field-wrapper" [parentFormGroup]="form"
      [submitted]="submitted"
      controlName="Autocomplete" [controlArray]="autocompleteArray"
      minLength="2"
      label="Autocomplete (try typing 'em')"></es-autocomplete>

    <es-view-source>
      <textarea highlight-js lang="html">
      <es-autocomplete class="field-wrapper" [parentFormGroup]="form"
    [submitted]="submitted"
    controlName="Autocomplete" [controlArray]="autocompleteArray"
    minLength="2"
    label="Autocomplete"></es-autocomplete>
      </textarea>
    </es-view-source>

    <p>The component uses <a href="https://github.com/oferh/ng2-completer" target="_blank">ng2-completer <span class="icon is-small"><i class="fas fa-external-link-alt fa-xs"></i></span></a> under the hood.
      This package is exported by the <span class="has-text-weight-bold">AutocompleteModule</span>, therefore you do not need to add it as a dependency of your project.
      The <span class="has-text-weight-bold">controlArray</span> input property should be of type <span class="has-text-weight-bold">CompleterData</span>, minimal code example is shown below.</p>
    <es-view-source>
    <textarea highlight-js lang="typescript">
  /* Array of code and labels for the autocomplete */
  private employmentStatusArray: { code: string, label: string }[] = [
    { code: 'Employed', label: 'Employed' },
    { code: 'In Education', label: 'In Education' },
  ];

  /* Define the var */
  public autocompleteArray: CompleterData;

  /* Inject the CompleterService into the constructor and assign the array */
  constructor(private completerService: CompleterService) {
    this.autocompleteArray = this.completerService.local(this.employmentStatusArray, 'label', 'label');
  }
    </textarea>
    </es-view-source>

    <h6 class="subtitle is-7">
      <a href="https://s3-eu-west-1.amazonaws.com/s3-ec-ext-dev-all-digital-app-docs/digital-app-components/compodoc/forms-lib/modules/AutocompleteModule.html" target="_blank">
        Compodoc Source <span class="icon is-small"><i class="fas fa-external-link-alt fa-xs"></i></span></a>
    </h6>

    <hr />

    <es-number-field
      class="field-wrapper" [parentFormGroup]="form" [submitted]="submitted"
      controlName="Number" label="Number Field" maxlength="2" rightText="i"
      (emitClickIcon)="numberHelp.toggleHelpText()" leftIcon="fas fa-pound-sign"></es-number-field>

    <es-help-text #numberHelp [helpIcon]="true">
      Here is some help text for the number field.
    </es-help-text>

    <es-view-source>
    <textarea highlight-js lang="html">
    <es-number-field
    class="field-wrapper" [parentFormGroup]="form" [submitted]="submitted"
    controlName="Number" label="Number Field" maxlength="2" rightText="i"
    (emitClickIcon)="numberHelp.toggleHelpText()" leftIcon="fas fa-pound-sign"></es-number-field>
    </textarea>
    </es-view-source>

    <h6 class="subtitle is-7">
      <a href="https://s3-eu-west-1.amazonaws.com/s3-ec-ext-dev-all-digital-app-docs/digital-app-components/compodoc/forms-lib/modules/NumberModule.html" target="_blank">
        Compodoc Source <span class="icon is-small"><i class="fas fa-external-link-alt fa-xs"></i></span></a>
    </h6>

    <hr />

    <es-radio
      class="field-wrapper"
      [parentFormGroup]="form"
      negative="agree-negative"
      negativeValue="No"
      affirmativeValue="Yes"
      affirmative="agree-affirmative"
      controlName="Radios"
      [submitted]="submitted"
      label="Radio Buttons"></es-radio>

    <es-view-source>
    <textarea highlight-js lang="html">
    <es-radio
    class="field-wrapper"
    [parentFormGroup]="form"
    negative="agree-negative"
    negativeValue="No"
    affirmativeValue="Yes"
    affirmative="agree-affirmative"
    controlName="Radios"
    [submitted]="submitted"
    label="Radio Buttons"></es-radio>
    </textarea>
    </es-view-source>

    <h6 class="subtitle is-7">
      <a href="https://s3-eu-west-1.amazonaws.com/s3-ec-ext-dev-all-digital-app-docs/digital-app-components/compodoc/forms-lib/modules/RadioModule.html" target="_blank">
        Compodoc Source <span class="icon is-small"><i class="fas fa-external-link-alt fa-xs"></i></span></a>
    </h6>

    <hr />

    <es-select class="field-wrapper"
              [parentFormGroup]="form"
              [submitted]="submitted"
              [controlArray]="titlesArray"
              controlName="Selects"
              label="Select Box" rightText="i" (emitClickIcon)="selectHelp.toggleHelpText()"></es-select>

    <es-help-text #selectHelp [helpIcon]="true">
      Here is some help text for the select field.
    </es-help-text>

    <es-view-source>
    <textarea highlight-js lang="html">
    <es-select class="field-wrapper"
    [parentFormGroup]="form"
    [submitted]="submitted"
    [controlArray]="titlesArray"
    controlName="Selects"
    label="Select Box" rightText="i" (emitClickIcon)="selectHelp.toggleHelpText()">
    </es-select>
    </textarea>
    </es-view-source>

    <h6 class="subtitle is-7">
      <a href="https://s3-eu-west-1.amazonaws.com/s3-ec-ext-dev-all-digital-app-docs/digital-app-components/compodoc/forms-lib/modules/SelectModule.html" target="_blank">
        Compodoc Source <span class="icon is-small"><i class="fas fa-external-link-alt fa-xs"></i></span></a>
    </h6>

    <hr />

    <es-date-field class="field-wrapper" [parentFormGroup]="form.controls['Dates']" [submitted]="submitted"
                  controlName="Day-Month-Year"
                  label="Date Inputs" helpText="Max date is today, min date is less 100 years" rightText="i"
                  minMessage="Date should be within last 100 years"
                  maxMessage="Date cannot be in the future"
                  (emitClickIcon)="dateHelp.toggleHelpText()"></es-date-field>

    <es-help-text #dateHelp [helpIcon]="true">
      Here is some help text for the date fields.
    </es-help-text>

    <es-view-source>
    <textarea highlight-js lang="html">
    <es-date-field class="field-wrapper" [parentFormGroup]="form.controls['Dates']"
    [submitted]="submitted"
    controlName="Day-Month-Year"
    label="Date Inputs" helpText="Max date is today, min date is less 100 years"
    rightText="i" minMessage="Date should be within last 100 years"
    maxMessage="Date cannot be in the future"
    (emitClickIcon)="dateHelp.toggleHelpText()"></es-date-field>
    </textarea>
  </es-view-source>

  <h6 class="subtitle is-7">
    <a href="https://s3-eu-west-1.amazonaws.com/s3-ec-ext-dev-all-digital-app-docs/digital-app-components/compodoc/forms-lib/modules/DateModule.html" target="_blank">
      Compodoc Source <span class="icon is-small"><i class="fas fa-external-link-alt fa-xs"></i></span></a>
  </h6>

  <hr />

    <div *ngIf="formSuccess" class="notification is-success">
      <h5>Form submitted successfully!</h5>
      <pre>{{ form.value | json }}</pre>
    </div>


    <div class="field columns is-mobile">
      <div class="column">
        <div class="control">
          <a esButton="inverted" (click)="resetForm()">Reset</a>
        </div>
      </div>
      <div class="column">
        <div class="control has-text-right">
          <button esButton="action" [esDisabled]="!form.valid"
                  [esTooltip]="{ enabled: !form.valid, classes: ['is-tooltip-bottom-mobile', 'is-tooltip-left' ] }"
                  type="submit" id="submitButton" data-tooltip="Please check form fields are valid">Submit
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
