/* Highlight selections in branded colors? */

h1, h2, h3, h4, h5, h6, p {
  &::selection {
    background-color: $grey-light;
  }
}

h1 {
  font-family: $family-primary;
  color: $primary !important;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: initial;
  font-family: $body-family;
}

li {
  margin-top: .5rem;
}

.nowrap {
  white-space: nowrap;
}

.input, .select, select, .text-area {
  height: 2.5em !important;
}

.is-uppercase:-ms-input-placeholder { text-transform: none !important; } /* stop placeholder text getting uppercased in IE */

html {
  background: $primary;
}

body {
  margin: 0;
  color: $body-color;
  background: $primary;
}

// Fix for Recaptcha logo being obscured by footer
re-captcha {
  position: relative;
  z-index: 1000;
}

svg {
  fill: currentColor;
}

.has-text-prim-alt {
  color: $prim-alt !important;
}
